@import "../styles/variables.scss";

.packages {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("./../assets/packages.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid $second-color;

  h1 {
    color: black;
    font-family: $lato;
    font-weight: 700;
    font-size: 3rem;
  }

  @include mobile {
    flex-direction: column;
    height: 100%;
  }
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    @include mobile{
      flex-direction: column;
      margin: 1px;
      padding: 1px;
    }
  }
}

.packages__classic {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 250px;
  padding: 3rem;
  border-radius: 20px;
  border: 1px solid var(--accent-color);
  background: #ffe1dd;

  @include mobile{
    flex-direction: column;
    margin: 7px;
    padding: 5px;
  }

  &__details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 15px;

    @include mobile{
      flex-direction: column;
      margin: 1px;
      padding: 1px;
    }

    &__type {
      position: relative;
      font-size: 1rem;
      color: #ff1643;
      border: 2px solid $color-redish ;
      border-radius: 6px;
      padding: 10px;
      background: #ff7f91;

      &:hover {
        background: #eeadca;
      }
    }
    &__price {
      margin-top: 15px;
      font-size: 2rem;
      color: var(--accent-color);
    }
  }
}

.packages__items {
  border: 3px solid #ff8591;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;

  &__item {
    padding: 1rem;

    @include mobile{
      flex-direction: column;
      padding: 1px;
    }

    span {
      color:red;
    }
  }
}

.packages__ultra {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 250px;
  padding: 3.7rem;
  border-radius: 19px;
  border: 1px solid #d1eeee;
  background: #d1eeff;

  @include mobile{
    flex-direction: column;
    margin: 7px;
    padding: 5px;
  }

  &__detaile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;

    @include mobile{
      flex-direction: column;
      margin: 1px;
      padding: 1px;
    }

    &__types {
      position: relative;
      font-size: 1.5rem;
      color: $color-primary;
      border: 1px solid $second-color;
      border-radius: 6px;
      padding: 10px 25px;
      background: #89ebff;

      &:hover {
        background: #bff7ff;
      }
    }
    &__prices {
      padding-top: 1.7rem;
      padding-bottom: 1.7px;
      font-size: 2.2rem;
      color: var(--accent-color);
    }
  }
}

.packages__itemse {
  border: 3px solid $color-primary;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  padding: 10px;

  &__ite {
    padding: 10px;

    @include mobile{
      flex-direction: column;
      padding: 1px;
    }
  }
}


.packages__premium {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 250px;
  padding: 5rem;
  border-radius: 19px;
  border: 1px solid #abffac;
  background: #b8ffb7;

  @include mobile{
    flex-direction: column;
    margin: 7px;
    padding: 5px;
  }


  &__detailss {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;

    @include mobile{
      flex-direction: column;
      margin: 1px;
      padding: 1px;
    }

    &__typ {
      position: relative;
      font-size: 1.5rem;
      color: forestgreen;
      border: 1px solid #11ff47;
      border-radius: 6px;
      padding: 10px 25px;
      background: #70ee60;

      &:hover {
        background: #81ff71;
      }
    }
    &__pric {
      padding-top: 1.7rem;
      padding-bottom: 1.7px;
      font-size: 2.2rem;
      color: var(--accent-color);
    }
  }
}

.packages__itemses {
  border: 3px solid forestgreen;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  padding: 10px;

  &__it {
    padding: 5px;

    @include mobile{
      flex-direction: column;
      padding: 1px;
    }
  }
}
