@import "./../styles/variables.scss";

.plan__container {
  border: 1px solid dodgerblue;
  background-image: url("../assets/bc.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  @include mobile {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
  }
}

 .header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   border-radius: 5px;
    &__title {
      color: whitesmoke;
      font-size:2rem;
      padding-right: 6rem;
      text-align: center;
    }

    &__buttons {
      padding: 0.5rem;
      &__add {
        border: none;
        background: none;
        color: green;
        font-size: 2.5rem;
      }

      &__del {
        border: none;
        background: none;
        color: red;
        font-size: 2.5rem;
      }
    }
  }
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

h2 {
  color:white;
  font-size: 1.9rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 0.4rem;
  font-size: 1.5rem;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}
