@import "./../styles/variables.scss";

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-grey;

    h1  {
    color: #777;
    font-size: 1.1rem;
      font-family: $roboto;
  }
  }
}
