@import "./../styles/variables";

.why__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-image: url("../assets/whyuss.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;


  @include mobile {
    flex-direction: column;
    background-size: cover;
  }

  &__text {
    border: 2px solid darkblue;
    padding-bottom: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: center;

  }
  &__pic {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: static;
    background-position: center center;
  }

  &__title {
    color: #ff3a00;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
  }

  &__description {
    color: $ninth-color;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2.4rem;
    letter-spacing: $letterSpacing;
  }
}

